name: Build and Push Docker Image

on:
    push:
        branches:
            - main
    workflow_dispatch:

jobs:
    build-and-push:
        runs-on: ubuntu-latest
        environment:
            name: production
            url: https://hub.docker.com/r/abises/home-server-manager

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Log in to Docker Hub
              uses: docker/login-action@v3
              with:
                  username: ${{ secrets.DOCKER_USERNAME }}
                  password: ${{ secrets.DOCKER_PASSWORD }}

            - name: Build and push Docker image
              uses: docker/build-push-action@v5
              with:
                  context: .
                  push: true
                  tags: |
                      abises/home-server-manager:latest
                      abises/home-server-manager:${{ github.sha }}
                  cache-from: type=registry,ref=abises/home-server-manager:latest
                  cache-to: type=inline
